# private registry: code-artifact
@valstro-internal:registry=https://valstro-194722423205.d.codeartifact.us-east-2.amazonaws.com/npm/npm-internal/
//valstro-194722423205.d.codeartifact.us-east-2.amazonaws.com/npm/npm-internal/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
